<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8" />
<title>家計簿登録</title>
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" th:inline="javascript">
$(function(){
	$('#registerButton').bind('click', function(){
		$('#registerForm').submit();
	});

	$('#backButton').bind('click', function(){
		$('#registerForm').attr('action', [[${@environment.getProperty('server.context-path')}]]);
		$('#registerForm').submit();
	});
});
</script>
</head>
<body>
<div data-role="page">
	<div data-role="header">
		<h2>家計簿</h2>
	</div>
	<div role="main" class="ui-content">
		<form th:action="@{/register}" action="/register" th:object="${detailRegisterForm}" method="post" name="registerForm" id="registerForm" target="_top">
				<input type="hidden" id="input_detail_id" name="detailId" th:field="*{detailId}" />
				<label for="input_use_date" th:utext="#{detail.use_date}">use_date</label>
				<input type="text" id="input_use_date" name="useDate" th:field="*{useDate}" th:errorclass="fieldError" />
				<p th:if="${#fields.hasErrors('useDate')}" th:errors="*{useDate}" style="color: red"></p>

				<label for="input_amount" th:utext="#{detail.amount}">amount</label>
				<input type="text" id="input_amount" name="amount" th:field="*{amount}" th:errorclass="fieldError" />
				<p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red"></p>

				<label for="input_balance_type" th:utext="#{detail.balance_type}">balance_type</label>
				<select id="input_balance_type" th:field="*{balanceType}" class="selectpicker" th:errorclass="fieldError">
					<option th:each="key : ${balanceType.keySet()}" th:value="${key}" th:text="${balanceType.get(key)}">pulldown</option>
				</select>
				<p th:if="${#fields.hasErrors('balanceType')}" th:errors="*{balanceType}" style="color: red"></p>

				<label for="input_group_id" th:utext="#{detail.group_id}">group_id</label>
				<select id="input_group_id" th:field="*{groupId}" class="selectpicker" th:errorclass="fieldError">
					<option th:each="key : ${groupList.keySet()}" th:value="${key}" th:text="${groupList.get(key)}">pulldown</option>
				</select>
				<p th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}" style="color: red"></p>

				<label for="input_payment_id" th:utext="#{detail.payment_id}">payment_id</label>
				<select id="input_payment_id" th:field="*{paymentId}" class="selectpicker" th:errorclass="fieldError">
					<option th:each="key : ${paymentList.keySet()}" th:value="${key}" th:text="${paymentList.get(key)}">pulldown</option>
				</select>
				<p th:if="${#fields.hasErrors('paymentId')}" th:errors="*{paymentId}" style="color: red"></p>

				<label for="input_asset_id" th:utext="#{detail.asset_id}">asset_id</label>
				<select id="input_asset_id" th:field="*{assetId}" class="selectpicker" th:errorclass="fieldError">
					<option th:each="key : ${assetList.keySet()}" th:value="${key}" th:text="${assetList.get(key)}">pulldown</option>
				</select>
				<p th:if="${#fields.hasErrors('assetId')}" th:errors="*{assetId}" style="color: red"></p>

				<label for="input_calc_date" th:utext="#{detail.calc_date}">calc_date</label>
				<input type="text" id="input_calc_date" name="calcDate" th:field="*{calcDate}" th:errorclass="fieldError" />
				<p th:if="${#fields.hasErrors('calcDate')}" th:errors="*{calcDate}" style="color: red"></p>

				<label for="input_note" th:utext="#{detail.note}">note</label>
				<input type="text" id="input_note" name="note" th:field="*{note}" />
				<p th:if="${#fields.hasErrors('note')}" th:errors="*{note}" style="color: red"></p>

				<button type="button" id="registerButton" value="register" class="btn btn-primary">登録</button>
				<button type="button" id="backButton" value="back" class="btn btn-default">戻る</button>
		</form>
	</div>
	<div data-role="footer">
	</div>
</div>
</body>
</html>